<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.be2.gsb_hg">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GSB"
        tools:targetApi="31">
        <activity
            android:name="fr.be2.gsb_hg.consulterlesfrais"
            android:exported="false" />
        <activity
            android:name="fr.be2.gsb_hg.parametre"
            android:exported="false" />
        <activity
            android:name="fr.be2.gsb_hg.codeVisiteur"
            android:exported="false" />
        <activity
            android:name="fr.be2.gsb_hg.fraishorsforfait"
            android:exported="false" />
        <activity
            android:name="fr.be2.gsb_hg.frais_au_forfait"
            android:exported="false" />
        <activity
            android:name="fr.be2.gsb_hg.creeuncompte"
            android:exported="false" />
        <activity
            android:name="fr.be2.gsb_hg.connexion"
            android:exported="false" />
        <activity
            android:name="fr.be2.gsb_hg.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>